body {
  
 
  background-image: linear-gradient(lightpink,lightblue);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

